/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* dark background for whole page */
  color: #ffffff;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh; /* ensure full height */
}
